@keyframes grassMove {
  from {transform: translateX(0px);}
  to {transform: translateX(60px);}
}

@keyframes cloudMove {
  from {transform: translateX(0px);}
  to {transform: translateX(120px);}
}

.grass {
    animation-name: grassMove;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.cloud {
    animation-name: cloudMove;
    animation-duration: 5s;
    animation-timing-function: linear;
}
